body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 75vh;
    width: 60vw;
    margin: auto;
}

@media screen and (min-width: 400px) {
    main {
        max-width: 20rem;
    }
}

#redemptionForm {
    height: 8rem;
}

#giftContainer {
    height: 16rem;
    width: 12rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#giftLid {
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#giftRibbon {
    height: 0;
    width: 0;
    margin: 0;
    border: 2rem solid #D7260F;
    border-top: 2rem solid transparent;
    border-bottom: 0.5rem solid #D7260F;
}

.giftStripe {
    height: 100%;
    width: 2rem;
    margin: auto;
    background-color: #D7260F;
}

#giftCover {
    height: 3rem;
    width: 100%;
    border-bottom: 3px solid #FFFFFF;
    background-color: #FEC84B;
}

#giftContent {
    height: 0;
    transition: height 0.5s ease-out;
}

#giftBox {
    height: 7rem;
    width: 90%;
    margin: 0;
    background-color: #FEC84B;
}